# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp
*.tmp

# Cache
.cache
